.main a {
    text-decoration: underline;
}

.card {
    perspective: 1000px;
    background-color: transparent;
    transition: all ease 0.5s;
    animation: cardAnimation 1s ease forwards;
}

@keyframes cardAnimation {
    0% {
        scale: .4;
        transform: rotateY(0);
    }
    100% {
        scale: 1;
        transform: rotateY(360deg);
    }
}

.cardInner {
    width: 100%;
    height: 100%;
    transition: all ease 0.5s;
    transition-property: transform, scale, rotateY;
    transform-style: preserve-3d;
    position: relative;
}

.cardFront, .cardBack, .cardFront *, .cardBack * {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.cardFront {
}

.cardBack {
    top: 0;
    transform: rotateY(180deg);
}

.card:hover .cardInner {
    transform: rotateY(180deg);
    /* scale: 1.15; */
}

.cardBackImage {
    transform: scale(0.5);
    transition: transform ease-out .5s;
    border-radius: 100%;
}

.card:hover .cardBackImage {
    transform: none;
    border-radius: .5rem .5rem 0 0;
}