.main a {
    text-decoration: underline;
}

.card {
    perspective: 1000px;
    background-color: transparent;
}

.cardInner {
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    transform-style: preserve-3d;
    position: relative;
}

.cardFront, .cardBack, .cardFront *, .cardBack * {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.cardFront {
}

.cardBack {
    transform: rotateY(180deg);
}

.card:hover .cardInner {
    transform: rotateY(180deg);
    scale: 1.25;
}