@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Akashi";   /*Can be any text*/
  src: local("Akashi"),
    url("./fonts/Akashi.ttf") format("truetype");
}

:root {
  font-family: "Space Grotesk";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --scrollbar-color: black;
  --scrollbar-background: white;
  --scrollbar-hover-color: rgb(72, 72, 72);
}

::-webkit-scrollbar {
  width: 5px;
  /* width: 0; */
  /* height: 0; */
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scrollbar-background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: var(--scrollbar-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover-color);
}

/* #scrollbar-handle {
  border-radius: .2rem;
}

#scrollbar-handle:hover {
  background: var(--scrollbar-hover-color);
  width: 1rem;
  transition: width .5s ease;
} */

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  cursor: url("assets/cursor.png"), auto;
  /* height: 100vh; */
  /* scroll-snap-type: y mandatory; */
  color: black;
}

section {
  max-height: 100vh;
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

#top-nav {
  grid-template-columns: auto 30vw repeat(6, auto);
}

#progress-bar {
  width: 0;
  height: 3px;
  /* margin-left: .1rem; */
  /* margin-right: .1rem ; */
  position: fixed;
  top: 0;
  background-color: black;
}