@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Akashi";   /*Can be any text*/
  src: local("Akashi"),
    url("./fonts/Akashi.ttf") format("truetype");
}

:root {
  font-family: "Space Grotesk";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --scrollbar-color: black;
  --scrollbar-background: white;
  --scrollbar-hover-color: rgb(72, 72, 72);

  --services-cube-face-dim: 400px;
}

::-webkit-scrollbar {
  width: 5px;
  /* width: 0; */
  /* height: 0; */
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scrollbar-background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: var(--scrollbar-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover-color);
}

#services::-webkit-scrollbar, #clients::-webkit-scrollbar {
  display: none;
}

/* #scrollbar-handle {
  border-radius: .2rem;
}

#scrollbar-handle:hover {
  background: var(--scrollbar-hover-color);
  width: 1rem;
  transition: width .5s ease;
} */

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  cursor: url("assets/cursor.png"), auto;
  /* height: 100vh; */
  /* scroll-snap-type: y mandatory; */
  color: black;
}

a {
  cursor: url("assets/cursor.png"), auto;
}

section {
  max-height: 100vh;
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

#clients {
  /* overflow-x: scroll;
  overflow-y: hidden; */
  /* scroll-snap-type: x mandatory; */
}

#clients>div {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

#top-nav {
  /* grid-template-columns: auto 30vw repeat(6, auto); */
  grid-template-columns: auto 30vw repeat(7, auto);
}

#progress-bar {
  width: 0;
  height: 3px;
  /* margin-left: .1rem; */
  /* margin-right: .1rem ; */
  position: fixed;
  top: 0;
  background-color: black;
}

.akashi {
  font-family: Akashi;
}

.cube-container {  
  width: var(--services-cube-face-dim);
  height: var(--services-cube-face-dim);
  position: relative;
  perspective: 1000px;
}

#cube {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotatecube 20s infinite ease-in-out forwards;
  
  -moz-transform-style: preserve-3d;
  -moz-animation: rotatecube 20s infinite ease-in-out forwards;
}

#cube:hover {
    animation-play-state: paused;
}

#cube div {
  width: var(--services-cube-face-dim);
  height: var(--services-cube-face-dim);
  display: block;
  position: absolute;
  top: 0;
  border: none;
  /* line-height: var(--services-cube-face-dim); */
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

#cube div p {
  position: relative;
  /* top: 50%; */
  /* transform: translateY(-50%); */
}

@keyframes rotatecube {
  0% { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  8% { transform: rotateX(-180deg) rotateY(0deg) rotateZ(0deg); }
  16% { transform: rotateX(-180deg) rotateY(0deg) rotateZ(0deg); }
  24% { transform: rotateX(0deg) rotateY(-90deg) rotateZ(0deg); }
  33% { transform: rotateX(0deg) rotateY(-90deg) rotateZ(0deg); }
  41% { transform: rotateX(0deg) rotateY(-270deg) rotateZ(0deg); }
  50% { transform: rotateX(0deg) rotateY(-270deg) rotateZ(0deg); }
  58% { transform: rotateX(-270deg) rotateY(-180deg) rotateZ(180deg); }
  67% { transform: rotateX(-270deg) rotateY(-180deg) rotateZ(180deg); }
  75% { transform: rotateX(-90deg) rotateY(-180deg) rotateZ(180deg); }
  84% { transform: rotateX(-90deg) rotateY(-180deg) rotateZ(180deg); }
  92% { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  100% { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
}

#cube img {
}

.front, .back, .right, .left, .top, .bottom {
  border-radius: .5rem;
  /* background: repeating-linear-gradient(#e66465, #e66465 20px, #9198e5 20px, #9198e5 25px); */
  /* background: repeating-radial-gradient(circle at 50% 50%, #2f2f2f, #434343 2px, #2f2f2f 5px, #434343 10px); */
  /* background: repeating-linear-gradient(black, #434343 10px),
            repeating-linear-gradient(0.25turn, #434343, black 30px); */

    background: linear-gradient(to right, #434343, black);
}

.back {
}

.right {
}

.left {
}

.top {
}

.bottom {
}

#cube .front  {
  transform: rotateY(0deg ) translateZ( calc(var(--services-cube-face-dim) / 2) );
  -moz-transform: rotateY( 0deg ) translateZ( calc(var(--services-cube-face-dim) / 2) );
}
#cube .back {
  transform: rotateX( 180deg ) translateZ( calc(var(--services-cube-face-dim) / 2) );
  -moz-transform: rotateX( 180deg ) translateZ( calc(var(--services-cube-face-dim) / 2) );
}
#cube .right  {
  transform: rotateY(  90deg ) translateZ( calc(var(--services-cube-face-dim) / 2) );
  -moz-transform: rotateY(  90deg ) translateZ( calc(var(--services-cube-face-dim) / 2) );
}
#cube .left   {
  transform: rotateY( -90deg ) translateZ( calc(var(--services-cube-face-dim) / 2) );
  -moz-transform: rotateY( -90deg ) translateZ( calc(var(--services-cube-face-dim) / 2) );
}
#cube .top    {
  transform: rotateX(  90deg ) translateZ( calc(var(--services-cube-face-dim) / 2) );
  -moz-transform: rotateX(  90deg ) translateZ( calc(var(--services-cube-face-dim) / 2) );
}
#cube .bottom {
  transform: rotateX( -90deg ) translateZ( calc(var(--services-cube-face-dim) / 2) );
  -moz-transform: rotateX( -90deg ) translateZ( calc(var(--services-cube-face-dim) / 2) );
}

/* .test {
  background-color: black;
}

@media screen and (min-width: 1536px) {
  .test {
    background-color: red;
  }
} */